<a href="https://colab.research.google.com/github/gokul-ml2ds/ML-Practice/blob/main/KNN_SCRATCH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import random
from sklearn.preprocessing import MinMaxScaler
from collections import Counter

In [ ]:
f1 = random.sample(range(0,25),20)
f2 = random.sample(range(5,30),20)
l = [1,0]
res = random.choices(l,k =20)

In [ ]:
df = pd.DataFrame({"f1":f1,"f2":f2,"res":res})
df.iloc[:,:-1] = MinMaxScaler().fit_transform(df.iloc[:,:-1])

In [ ]:
# df = [[2.7810836,2.550537003,0],
# 	[1.465489372,2.362125076,0],
# 	[3.396561688,4.400293529,0],
# 	[1.38807019,1.850220317,0],
# 	[3.06407232,3.005305973,0],
# 	[7.627531214,2.759262235,1],
# 	[5.332441248,2.088626775,1],
# 	[6.922596716,1.77106367,1],
# 	[8.675418651,-0.242068655,1],
# 	[7.673756466,3.508563011,1]]
df = np.array(df)
df

array([[0.83333333, 0.20833333, 0.        ],
       [0.79166667, 0.125     , 0.        ],
       [0.625     , 0.33333333, 1.        ],
       [0.875     , 0.5       , 1.        ],
       [1.        , 0.75      , 1.        ],
       [0.5       , 0.95833333, 0.        ],
       [0.54166667, 0.08333333, 1.        ],
       [0.29166667, 0.45833333, 1.        ],
       [0.08333333, 0.66666667, 0.        ],
       [0.33333333, 0.91666667, 0.        ],
       [0.        , 0.375     , 1.        ],
       [0.04166667, 0.875     , 0.        ],
       [0.375     , 0.        , 0.        ],
       [0.125     , 0.54166667, 1.        ],
       [0.16666667, 0.25      , 1.        ],
       [0.58333333, 0.70833333, 0.        ],
       [0.45833333, 0.16666667, 0.        ],
       [0.91666667, 0.58333333, 1.        ],
       [0.20833333, 1.        , 1.        ],
       [0.25      , 0.04166667, 0.        ]])

In [ ]:
train = df[:6,:]
test = df[6:,:]

In [ ]:
class KNN:
  def __init__(self, train,test,k):
    self.train = train
    self.test = test
    self.k = k

  def distance(self,row1, row2):
    row1 = row1[:-1]
    row2 = row2[:-1]
    dist = 0
    for i,r in enumerate(row1):
      dist += ((row2)[i]- r)**2

    return np.sqrt(dist)

  def select_kn(self,train, test_row,k):
    dist_lst = []
    top_k = []
    for train_row in train:
      dist_lst.append((train_row,self.distance(train_row,test_row)))
    
    dist_lst.sort(key =lambda tup: tup[1])  
    for i in range(k):
      top_k.append(dist_lst[i][0])
    return top_k

  def pred_knn(self,train, test_row,k):
    neighbours = self.select_kn(train, test_row,k)
    outputs = [x[2] for x in neighbours]

    pred = max(set(outputs), key =outputs.count )
    return pred

  def tests(self,train, test,k):
    result = []
    for test_row in test:
      res = self.pred_knn(train, test_row,k)
      result.append([test_row[:-1],res])
    return pd.DataFrame(result)

In [ ]:
k = KNN(train,test,4)
k.tests(train, test,5)

                                            0    1
0   [0.5416666666666666, 0.08333333333333331]  1.0
1   [0.29166666666666663, 0.4583333333333333]  0.0
2   [0.08333333333333333, 0.6666666666666667]  0.0
3    [0.3333333333333333, 0.9166666666666667]  1.0
4                  [0.0, 0.37499999999999994]  0.0
5               [0.041666666666666664, 0.875]  1.0
6                                [0.375, 0.0]  0.0
7                 [0.125, 0.5416666666666667]  0.0
8                 [0.16666666666666666, 0.25]  0.0
9    [0.5833333333333333, 0.7083333333333333]  1.0
10  [0.4583333333333333, 0.16666666666666669]  0.0
11   [0.9166666666666666, 0.5833333333333333]  1.0
12                 [0.20833333333333331, 1.0]  1.0
13               [0.25, 0.041666666666666685]  0.0